@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadProRegular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "DroidSerif";
  src: url("../fonts/DroidSerif.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "DroidSerif-Italic";
  src: url("../fonts/DroidSerif-Italic.ttf");
  font-weight: 400;
}

body {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

.container > * {
  grid-column: 1/-1;
}

.main {
  background: url("..//img/About/bg_offer.png") center no-repeat;
  background-size: cover;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px 0 15px;
}

.main__offer {
  margin: 230px 0 125px 0;
}

.main__title {
  font-size: 72px;
  font-weight: 300;
  color: #4c77eb;
  margin-bottom: 33px;
}

.main__subtitle {
  font-family: "Lato";
  color: #99aade;
}

.header__nav-link {
  font-size: 16px;
  font-weight: 700;
  color: #99aade;
  margin-right: 25px;
}

.header__nav-btn {
  text-transform: uppercase;
  font-size: 12px;
  padding: 15px 25px;
  background-color: #7492ec;
  color: #ffffff;
  border-radius: 30px;
  margin-left: 5px;
}

.header__logo {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__logo:hover {
  -webkit-transform: scale(0.87);
          transform: scale(0.87);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__nav-link:hover {
  color: #4C76F4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__nav-btn:hover {
  background-color: #4C76F4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.description {
  padding: 133px 0 15px 0;
}

.description__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  max-width: 525px;
}

.description__text_01 {
  font-family: "Lato";
  line-height: 24px;
  color: #666666;
  margin-bottom: 30px;
}

.description__text_02 {
  font-family: "Lato";
  line-height: 24px;
  color: #666666;
}

.description__img {
  grid-column: 7/-1;
  margin: -212px 0 -15px 0;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.quote {
  background: url("../img/About/bg_nature.png") center no-repeat;
  background-size: cover;
  padding: 172px 0 102px 0;
  position: relative;
  z-index: 1;
}

.quote__text {
  font-family: "DroidSerif";
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  font-style: italic;
  color: #fffefe;
  z-index: 3;
  text-align: center;
  max-width: 616px;
  margin: 0 auto;
}

.quote__name {
  font-weight: 500;
  color: #ffffff;
  z-index: 3;
  text-align: center;
}

.quote__background-color {
  background-color: rgba(116, 146, 236, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.levels {
  padding: 120px 0 118px 0;
  position: relative;
}

.levels__basic {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

.levels__img {
  border-radius: 5px;
  width: 100%;
  height: 214px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.levels__title {
  font-size: 18px;
  font-weight: 500;
  color: #7492ec;
  margin: 35px 0 15px 0;
}

.levels__text {
  font-family: "Lato";
  line-height: 24px;
  font-weight: 400;
  color: #666666;
  max-width: 360px;
}

.levels__level1 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
}

.levels__gentle {
  grid-column: 9/-1;
}

.levels::after {
  content: "";
  background: url("..//img/About/bg_flower.png") top center no-repeat;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.gallery {
  padding: 122px 0 120px 0;
}

.gallery__free-trial {
  padding: 0 0 80px 0;
}

.gallery__title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: 26px;
  text-align: center;
}

.gallery__subtitle {
  font-family: "Lato";
  line-height: 24px;
  color: #666666;
  text-align: center;
  max-width: 444px;
  display: block;
  margin: 0 auto 53px;
}

.gallery__link {
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: #7492ec;
  padding: 15px 50px;
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: #ffffff;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
}

.gallery__link:hover {
  background-color: #4C76F4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.subscribe {
  background-color: #181818;
}

.subscribe__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__link {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.subscribe__logo {
  width: 60px;
  height: 63px;
}

.subscribe__logo:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.subscribe__info {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  padding: 37px 0 32px 46px;
  border-left: 1px solid #333333;
  margin-left: 70px;
}

.subscribe__title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 19px;
}

.subscribe__subtitle {
  font-family: "Lato";
  font-size: 13px;
  font-style: italic;
  color: #bbbbbb;
}

.subscribe__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 0% 30%;
      grid-template-columns: 70% 0% 30%;
  grid-column: 8/-1;
  margin-left: 30px;
}

.subscribe__input {
  font-family: "Lato";
  font-size: 13px;
  color: #bbbbbb;
  padding: 20px 100px 20px 21px;
  border-radius: 30px;
  background-color: #333333;
}

.subscribe__btn {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px 37px;
  background-color: #7492ec;
  border-radius: 30px;
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-left: -85px;
}

.subscribe__btn:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #4C76F4;
}

.footer01 {
  background-color: #222222;
  padding: 61px 0 44px;
}

.footer01__contact {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.footer01__title {
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 27px;
}

.footer01__address {
  display: block;
  max-width: 198px;
  line-height: 25px;
}

.footer01__text {
  font-family: "Lato";
  font-size: 13px;
  color: #bbbbbb;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer01__text:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer01__mail {
  display: block;
}

.footer01__tel {
  display: block;
}

.footer01__social_link {
  margin-right: 7px;
}

.footer01__link:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer01__facebook:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer01__twitter:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer01__gmail:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer01__pinterest:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer01__links {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
}

.footer01__useful-link {
  display: block;
  font-size: 13px;
  color: #bbbbbb;
  line-height: 24px;
  margin-bottom: 3px;
}

.footer01__hours {
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6/10;
  margin-left: 76px;
}

.footer01__hours_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 30px 70px;
      grid-template-columns: 70px 30px 70px;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer01__day {
  font-family: "MyriadPro";
  color: #bbbbbb;
  font-size: 13px;
  line-height: 30px;
}

.footer01__arrow {
  width: 5px;
  height: 8px;
  margin-left: 18px;
}

.footer01__time {
  font-family: "MyriadPro";
  color: #bbbbbb;
  font-size: 13px;
  line-height: 30px;
}

.footer01__location {
  grid-column: 10/-1;
}

.footer01__map {
  width: 270px;
  height: 170px;
}

[class*="copyrights-pane"] {
  display: none !important;
}

[class*="ground-pane"] {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.header__burger {
  display: none;
}

@media (max-width: 900px) {
  .header__burger {
    z-index: 20;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: #7492ec;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__burger._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .header__burger._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .header__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 19;
  }
  .header__nav._active {
    left: 0;
  }
  .header__nav-link {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .description__img {
    display: none;
  }
  .levels__basic {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
  .levels__level1 {
    grid-column: 7/-1;
  }
  .levels__gentle {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
  .subscribe__info {
    margin-left: 0;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
  .subscribe__form {
    grid-column: 6/-1;
  }
  .footer01__social_link {
    display: inline-block;
    margin-bottom: 5px;
  }
  .footer01__location {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/8;
  }
  .footer01__links {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/7;
  }
  .footer01__hours {
    grid-column: 7/-1;
  }
  .description {
    padding-top: 15px;
  }
  .description__img {
    grid-column: 11/-1;
  }
  .description__text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1/11;
    margin: 0 auto;
  }
  .gallery {
    padding: 15px 0;
  }
  .main__offer {
    margin-top: 60px;
  }
}

@media (max-width: 720px) {
  .subscribe__info {
    display: none;
  }
  .subscribe__form {
    grid-column: 3/-1;
  }
  .subscribe__wrapper {
    padding: 15px 0;
  }
  .footer01__hours {
    margin-left: 0;
  }
  .footer01__links {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
    margin-left: 5px;
  }
}

@media (max-width: 540px) {
  .footer01__contact {
    grid-column: 1/-1;
  }
  .footer01__links {
    grid-column: 1/-1;
  }
  .footer01__hours {
    grid-column: 1/-1;
  }
  .subscribe__form {
    grid-column: 1/-1;
    margin-left: 50px;
  }
  .subscribe__logo {
    display: none;
  }
  .main__title {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .levels__basic {
    grid-column: 1/-1;
  }
  .levels__level1 {
    grid-column: 1/-1;
  }
  .levels__gentle {
    grid-column: 1/-1;
  }
  .subscribe__btn {
    margin-left: -100px;
  }
  .quote__text {
    font-size: 20px;
    line-height: 28px;
  }
  .description__text {
    grid-column: 1/-1;
  }
  .subscribe__wrapper {
    gap: 0;
  }
}
